<div class="jumbotron">
	<div class="container">
		<h1>Bienvenido al apartado de anuncios</h1>
  	<p>¿Estás buscando algo y no sabes dónde buscas? ¿Estas desesperado por que buscas y no encuentras lo que quieres? Nosotros te ofrecemos la oportunidad de publicar lo que buscas y si tienes suerte puede que aparezca en nuestras grandes ofertas, no desistas! Seguro que algo aparecerá.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-4" ng-repeat="(key, anuncio) in anuncios">
   	<div class="thumbnail" >
     	<img src="{{ anuncio.image }}">
     	<div class="caption">
       	<h3>{{ anuncio.name }}</h3>
       	<p>{{ anuncio.description }}</p>
       	<p>
       		<a ui-sref="anuncioDetalles({ id: key })" class="btn btn-primary">Ver mas</a>
       	</p>
        <p>{{ anuncio.adedBy }}</p>
     	</div>
   	</div>
  </div>
</div>
<!-- Actividad -->
 