<div class="jumbotron">
	<div class="container">
		<h1>Bienvenido al apartado de los articulos</h1>
  	<p>Hoy es tu día de suerte tenemos grandes ofertas para ti!! Disponemos de una gran variedad de productos, mira nuestros artículos y no seas el último en llegar, corre! Se el primero en llegar a la tienda y comprar los productos que te mostramos, no te arrepentirás.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-4" ng-repeat="(key, articulo) in articulos">
    <div class="thumbnail">
      <img src="{{ articulo.image }}">
      <div class="caption">
        <h3>{{ articulo.name }}</h3>
        <p>{{ articulo.description }}</p>
        <p>{{ articulo.city }}</p>
        <p>{{ articulo.street }}</p>
        <p>{{ articulo.shop }}</p>
        <p>{{ articulo.adedBy }}</p>
        <p>
        	<a ui-sref="articuloDetalles({ id: key })" class="btn btn-primary">Ver mas</a>
        </p>
      </div>
    </div>
  </div>
</div><!-- Actividad -->
 